<table>
  <thead><tr><td>
    <div class="header-space"></div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space"></div>
  </td></tr></tfoot>
</table>

<div class="header">POSTINGS OVERVIEW</div>
<div class="footer">Page 1 <hr/><a href="www.nykredit.dk">www.nykredit.dk</a><img src="https://www.nykredit.dk/globalassets/billeder/ikoner-logoer-flag-grafikker-og-diverse/logoer/logo2x.png"></div>
